<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
</head>
<body>
    <form action="/profile" method="post" name="profile" onsubmit="return validateEdit(this)">
    <label for="nickname">
        Nickname
    </label>
    <div class="inputs">
        <div id="nickname" maxlength="64" name="nickname" placeholder="Nickname" size="80" type="text"></div>
    </div>
    
    </form>
</body>
</html>