<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina</title>
</head>
<body>
    <h1>
        Hi, How are you?
    </h1>
    <div id="left">
        <form action="home" method="post" onsubmit="return validateHome(this)">
        <label for="post">
            Say something:
        </label>
        <div class="inputs">
            <input id="post" maxlength="500" name="message" size="80"
            type="text" value="">
            {% for mensage in messages %}
                <li>{{  message[1] }}</li>
            {% endfor %}
        </div>
        </form>
    </div>
    <div id="right">
        <form>
            <label for="post">
                What your friends are saying:
            </label>
            <div class="inputs">
                {% for mensage in friends_messages %}
                <li> {{ message[0] }}: {{ message[2] }}</li>
                {% endfor %}
            </div>
        </form>
    </div>
    <div id="friends">
        Select friends to see what he/she is saying:
        <div class="impar">
            <input type="checkbox" name="friends" onclick=''>
            roberto@mail.com
        </div>

    </div>
</body>
</html>